body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  overflow: hidden;
}

h1, p {
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.25em;
  line-height: 1.25em;
}

a:link, a:visited {
  color: lightblue;
}

#stage {
  width: 100%;
  height: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 100%;
}